# Ignore everything
*

# But not these files...
!README.md
!.gitignore
!_archive
!_archive/**/*
!sketchybar
!sketchybar/**/*
!zsh
!zsh/**/*
!ghostty
!ghostty/**/*
!vscode/keybindings.json
!starship
!starship.toml
!aerospace
!aerospace.toml
!.install.sh
!Default.bttpreset
!bm_cfg.plist

# Ignore all .DS_Store files
.DS_Store